
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.logo {
  width: 100px;
  margin-top: -8px;
  display: inline !important;
}

.container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}

body {margin: 0;}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    padding-top: 60px;
    height: 100%;
    overflow: auto;
}

.sidenav ul {
    list-style-type: none;
    padding-left: 0;
}

.sidenav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidenav ul li.active a {
    background-color: #4CAF50;
    color: white;
}

.sidenav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 1px 16px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 900px) {
    .sidenav {
        margin-top: 50px;
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 0;
    }
    .sidenav ul li a {
        float: left;
        padding: 15px;
    }
    div.content {
      margin-left: 0;
      margin-top: 0;
    }
    .hamburger {
        display: inline;
    }
}

@media screen and (max-width: 400px) {
    .sidenav ul li {
        text-align: center;
        float: none;
    }
    .sidenav ul li a {
        float: none;
    }
}

