.colaboradores_caja {
  white-space: nowrap;
  text-align: center;
  height: 250px;
  padding: 1em;
}

.colaboradores_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.colaboradores_imagen {
    max-width:100%;
    max-height:100%;
}
